.container {
  display: flex;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
}

.column-1 {
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card {
  width: 35rem;
  height: 40rem;
  flex: 1;
  border-radius: 5px;
  background-color: orangered;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokeLogo {
  height: 25%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeLogo img {
  max-width: 100%;
  height: auto;
}

.pokemon {
  height: 24rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
}

.pokemon img.pokeball-image {
  width: 77%;
  height: 95%;
  margin: 0 auto;
}

.column-2 {
  width: 55%;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 5px;
  padding: 10px;
  align-items: center;
}

.buttonNext {
  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 5px #ff7230;
}

.buttonPrevList {
  background-color: greenyellow;
  width: 30px;
  height: 30px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  color: rgb(255, 208, 0);
  -webkit-text-stroke: 3px #5c8ed8;
  text-stroke: 3px #5c8ed8;
  text-shadow:
    -3px -3px 0 #0000ff,
    3px -3px 0 #0000ff,
    -3px 3px 0 #0000ff,
    3px 3px 0 #0000ff;
  font-size: 7vw;
  animation: wave 2s infinite;
}

.loading span {
  display: inline-block;
  animation: wave 2s infinite;
}

.loading span:nth-child(1) {
  animation-delay: 0s;
}

.loading span:nth-child(2) {
  animation-delay: 0.1s;
}

.loading span:nth-child(3) {
  animation-delay: 0.2s;
}

.loading span:nth-child(4) {
  animation-delay: 0.3s;
}

.loading span:nth-child(5) {
  animation-delay: 0.4s;
}

.loading span:nth-child(6) {
  animation-delay: 0.5s;
}

.loading span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
    overflow: auto;
  }

  .column-1,
  .column-2 {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .column-1 {
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }

  .buttons {
    justify-content: center;
  }

  .card {
    padding-bottom: 20px;
  }

  .loading {
    font-size: 10vw;
  }
}

@media (max-width: 600px) {
  .card {
    width: 18rem;
    height: auto;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .pokemon {
    width: 15rem;
    height: 14rem;
    margin-top: 20px;
  }

  .loading {
    font-size: 12vw;
  }
}