ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 50%); /* Dos columnas de 10% de ancho cada una */
    gap: 1px; /* Espacio entre elementos */
  }
  
  .pokeName {
    padding: 10px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    box-shadow: 7px 3px 3px #ff7230;
  }
  
  .pokeName:hover {
    background-color: #ff7230;
    color: black;
  }
  
  .selected {
    background-color: #fa450d !important;
    color: white !important;
    border-radius: 15%;
    border-style: double;
  }
  