ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1px;
}

.pokeName {
  padding: 10px;
  margin: 8px;
  border: 1px solid black;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  box-shadow: 7px 3px 3px #ff7230;
}

.pokeName:hover {
  background-color: #ff7230;
  color: black;
}

.pokeName.selected {
  background-color: #fa450d !important;
  color: white !important;
}

@media (max-width: 500px) {
  ul {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    justify-content: center;
    padding: 5px;

  }

  .pokeName {
    width: 70%;
    max-width: 100%;
    padding: 5px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    box-shadow: 7px 3px 3px #ff7230;
    text-align: center;
  }

  .pokeName:hover {
    background-color: #ff7230;
  }

  .pokeName.selected {
    background-color: #fa450d !important;
    color: white !important;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  ul {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: center;
    padding: 5px;

  }

  .pokeName {
    width: 80%;
    max-width: 100%;
    padding: 10px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    box-shadow: 7px 3px 3px #ff7230;
    text-align: center;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  ul {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: center;
    padding: 5px;

  }

  .pokeName {
    width: 90%;
    max-width: 100%;
    padding: 10px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    box-shadow: 7px 3px 3px #ff7230;
    text-align: center;
  }
}