.pokemon-info {
    font-size: 0.8em;
}

.pokemon-info h1 {
    font-size: 2.5em;
}

.pokemon-info h2 {
    font-size: 1em;
    margin-top: 10px;
}

.pokemon-info ul {
    padding-left: 20px;
}

.pokemon-info .stat {
    margin-top: 10px;
}

.pokemon-info .stat-name {
    text-align: left;
    margin-left: 20px;
}

.pokemon-info .stat-bar-container {
    width: 95%;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 20px;
}

.pokemon-info .stat-bar {
    height: 100%;
    background-color: rgb(43, 133, 236);
    border-radius: 5px;
}

.pokemon-name {
    font-size: 5em;
}

.abilities {
    background-color: burlywood;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
}

@media (max-width: 1100px) {
    .pokemon-info {
        width: 95%;
        padding-left: 2rem;
    }

    .pokemon-info .stat-bar-container {
        width: 97%;
    }
}

@media (max-width: 600px) {
    .pokemon-info {
      width: 100%;
      padding-left: 2rem;
      box-sizing: border-box;
    }
  
    .pokemon-info .stat-bar-container {
      width: 95%;
    }
  }